<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @waypoint.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @waypoint.longitude %>
</p>

<p>
  <strong>Sent at:</strong>
  <%= @waypoint.sent_at %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @waypoint.vehicle %>
</p>

<%= link_to 'Edit', edit_waypoint_path(@waypoint) %> |
<%= link_to 'Back', waypoints_path %>
