
$("#data").html("<%= escape_javascript(render(:partial => 'show_data')) %>");

var vehicles = [
  <% @vehicles.each do |v| %>
    ['<%= v.identifier %>', <%= v.last_waypoint.latitude %>, <%= v.last_waypoint.longitude %>, <%= v.id %>],
  <% end %>
];


// Create a map object and specify the DOM element for display.
var map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: vehicles[0][1], lng: vehicles[0][2]},
  zoom: 8
});
// Adds markers to the map.
var bounds = new google.maps.LatLngBounds();
for (var i = 0; i < vehicles.length; i++) {
  var vehicle = vehicles[i];
  var marker = new google.maps.Marker({
    position: {lat: vehicle[1], lng: vehicle[2]},
    map: map,
    label: {
      color: 'red',
      fontWeight: 'bold',
      text: vehicle[0],
    },
    title: vehicle[0],
    zIndex: vehicle[3]
  });
  bounds.extend(marker.getPosition());
}    

map.fitBounds(bounds);





