<!DOCTYPE html>
<html>
  <head>
    <title>Waypoints</title>
    <%= csrf_meta_tags %>

	<script src="//maps.google.com/maps/api/js?key=AIzaSyA6PA4ZnHlcRlvP-nFsBQW7kbuwBD04gbY"></script>
  	<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>	    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  
	
  <link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>

  <body>
    <div id="notifications"></div>
    <%= yield %>
  </body>
  
  <%= javascript_include_tag 'application' %>


</html>
